<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/head :: css_head">

</head>
<body>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <small>系统管理 > 权限管理</small>
    </h1>

</section>

<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">权限列表</h3>
            <br><br>
            <button class="btn btn-success btn-sm" id="addPerm" onclick="addPerm();"><i class="fa fa-plus"></i> &nbsp;&nbsp;添加权限</button>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
            <table id="table"></table>
        </div>
    </div>
</section>

<!--新增资源弹框-->
<div class="modal fade" id="permModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="updateModalLabel">
                    资源信息
                </h4>
            </div>
            <div class="modal-body">
                <form id="permForm" role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">父节点</label>
                        <div class="col-sm-9">
                            <select id="selectbox" name="pid"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">资源名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" name="name" placeholder="请输入资源名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url" class="col-sm-3 control-label">URL</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="url" name="url" placeholder="请输入url">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="code" class="col-sm-3 control-label">权限代码</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="code" name="code" placeholder="请输入权限代码">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">菜单</label>
                        <div class="col-sm-9 radio">
                            <input id="user_ismenu" class="row_ismenu" type="checkbox" name='ismenu' value="1"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">状态</label>
                    <div class="col-sm-9 radio">
                        <input id="row_status" class="row_status" type="checkbox" name='status' value="1"/>
                    </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="input" class="btn btn-primary" onclick="savePerm();">提交</button>
                <span id="tip"></span>
            </div>
        </div>
    </div>
</div>

<!--编辑资源弹框-->
<div class="modal fade" id="permModalEdit" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    资源信息
                </h4>
            </div>
            <div class="modal-body">
                <form id="permFormEdit" role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">父节点</label>
                        <div class="col-sm-9">
                            <select id="selectbox2" name="pid" disabled="disabled">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">资源名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="name" placeholder="请输入资源名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url" class="col-sm-3 control-label">URL</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="url" placeholder="请输入url">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="code" class="col-sm-3 control-label">权限代码</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="code" placeholder="请输入权限代码">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">菜单</label>
                        <div class="col-sm-9 radio">
                            <input id="perm_ismenu" type="checkbox" name='ismenu'/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">状态</label>
                        <div class="col-sm-9 radio">
                            <input id="perm_status" type="checkbox" name='status'/>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="input" class="btn btn-primary" onclick="updatePerm();">提交</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>

<script src="https://cdn.bootcss.com/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>

<script th:src="@{/adminlite/bootstrap/js/bootstrap.min.js}"></script>
<!--Bootstrap Switch 开关控件-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.12.0/extensions/treegrid/bootstrap-table-treegrid.js"></script>
<script src="https://cdn.bootcss.com/jquery-treegrid/0.2.0/js/jquery.treegrid.min.js"></script>
<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
<script th:src="@{/js/perm.js}"></script>


<script type="text/javascript">

    var $table = $('#table');
    $(function() {
        initTable();
    });

    //加载表格数据
    function initTable() {
        $table.bootstrapTable({
            type: 'GET',
            url: 'permlist',
            height: $(window).height(),
            striped: true,
            sidePagination: 'server',
            idField: 'id',
            columns: [
                {
                    field: 'ck',
                    checkbox: true
                },
                {
                    field: 'name',
                    title: '名称'
                },
                {
                    field: 'url',
                    title: 'URL'
                },
                {
                    field: 'status',
                    title: '状态',
                    sortable: true,
                    align: 'center',
                    formatter: 'statusFormatter'
                },
                {
                    field: 'ismenu',
                    title: '菜单',
                    sortable: true,
                    align: 'center',
                    formatter: function (value, row, index) {
                        return menuSwitch(value, row);
                    }
                },
                {
                    field: 'code',
                    title: '权限代码'
                },
                {
                    field: 'operate',
                    title: '操作',
                    align: 'center',
                    events: operateEvents,
                    formatter: 'operateFormatter'
                }
            ],

            //bootstrap-table-treegrid.js 插件配置
            treeShowField: 'name',
            parentIdField: 'pid',
            onLoadSuccess: function () {

                $table.treegrid({
                    initialState: 'collapsed',  //所有节点都折叠
                    //initialState: 'expanded',// 所有节点都展开，默认展开
                    treeColumn: 1,
                    onChange: function () {
                        $table.bootstrapTable('resetWidth');
                    }
                });

                //只展开树形的第一级节点
                // $table.treegrid('getRootNodes').treegrid('expand');

                $(".switch-modal").each(function () {
                    $(this).bootstrapSwitch({
                        onText: "开启",
                        offText: "关闭",
                        onColor: "success",
                        offColor: "danger",
                        size: "small"
                    });


                    $(this).on('switchChange.bootstrapSwitch', function (event, state) {

                        var state = state == false ? 0 : 1;

                        if(state == 0) {
                            $(this).removeAttr("checked","checked");
                            $(this).attr("value",0);
                        } else {
                            $(this).attr("checked","checked");
                            $(this).attr("value",1);
                        }

                        $.ajax({
                            url: "changeIsmenu",
                            data: {
                                id: $(this).attr('idValue'),
                                ismenu: state
                            },
                            async: false,
                            dataType: "json",
                            type: "POST",
                            success: function (result) {
                                if (result.code == 200) {

                                    layer.msg("修改成功！");
                                }
                            },
                            error: function () {
                                    layer.msg("error");
                            }
                        });


                    })

                    // onCheck: function() {
                    //     var datas = $table.bootstrapTable('getData');
                    //     // 勾选子类
                    //     selectChilds(datas,row,"id","pid",true);
                    //
                    //     // 勾选父类
                    //     selectParentChecked(datas,row,"id","pid")
                    //
                    //     // 刷新数据
                    //     $table.bootstrapTable('load', datas);
                    // },
                    //
                    // onUncheck:function(row){
                    //     var datas = $table.bootstrapTable('getData');
                    //     selectChilds(datas,row,"id","pid",false);
                    //     $table.bootstrapTable('load', datas);
                    // },

                });

            }
        });
    }



    //格式化切换菜单按钮
    function menuSwitch(value,row) {
        if(value==1){
            return '<input class="switch-modal menu-value-'+row.id+'" type="checkbox" name="ismenu" value="'+value+'" idValue="'+row.id+'" checked="checked"/>';
        }else if(value == 0){
            return '<input class="switch-modal menu-value-'+row.id+'" type="checkbox" name="ismenu" value="'+value+'" idValue="'+row.id+'"/>';
        }
    }

    // 格式化按钮
    function operateFormatter(value, row, index) {
        if(row.pid == 0) {
            return [
                '<button type="button" class="PermOfedit btn-small btn-primary" style="margin-right:15px;" data-toggle="modal" data-target="#edit-perm-form"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</button>',
                '<button type="button" class="PermOfdelete btn-small btn-primary" style="margin-right:15px;" onclick="deletePerm('+row.id+');"><i class="fa fa-trash-o"></i>&nbsp;删除</button>'
            ].join('');
        }
        return [
            '<button type="button" class="PermOfedit btn-small btn-primary" style="margin-right:15px;" data-toggle="modal" data-target="#edit-perm-form"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</button>',
            '<button type="button" class="PermOfdelete btn-small btn-primary" style="margin-right:-10%;" onclick="deletePerm('+row.id+');"><i class="fa fa-trash-o"></i>&nbsp;删除</button>'
        ].join('');

    }
    // 格式化类型
    function typeFormatter(value, row, index) {
        if (value === 'menu') {
            return '菜单';
        }
        if (value === 'button') {
            return '按钮';
        }
        if (value === 'api') {
            return '接口';
        }
        return '-';
    }

    // 格式化状态
    function statusFormatter(value, row, index) {
        if (value === 1) {
            return '<span class="label label-success">正常</span>';
        } else {
            return '<span class="label label-default">锁定</span>';
        }
    }

    //初始化操作按钮的方法
    window.operateEvents = {
        //新增子节点
        'click .PPermOfadd': function (e, value, row, index) {
            // add(row.pid);
            showPPerm(row);
        },
        //编辑
        'click .PermOfedit': function (e, value, row, index){
            editPerm(row);
        },

        // //删除
        // 'click .PermOfdelete': function (e, value, row, index) {
        //     del(row.id);
        // }

    };

    //编辑权限弹框
    function editPerm(row) {
        // var rows = $table.bootstrapTable('getSelections');
        // console.log(JSON.stringify(rows));

        var ismenu = $(".menu-value-"+row.id).val();
        console.log("菜单状态："+ismenu);
        console.log("菜单ID："+row.id);

        $("#selectbox2").val(row.pid);
        $("#permFormEdit input[name='name']").val(row.name);
        $("#permFormEdit input[name='url']").val(row.url);
        $("#permFormEdit input[name='code']").val(row.code);
        $("#permFormEdit input[name='ismenu']").val(ismenu);
        $("#permFormEdit input[name='status']").val(row.status);


        // 用于开关组件初始化
        $("#perm_ismenu").each(function () {

            $(this).bootstrapSwitch({
                onColor: "success",
                offColor: "warning",
                size: "small"
            })
            var ismenu = $(this).val();
            if (ismenu == 0) {
                $(this).bootstrapSwitch('state', false);
            } else {
                $(this).bootstrapSwitch('state', true);
            }

        });


        // 监听开关状态发生变化时，触发事件
        $("#perm_ismenu").on('switchChange.bootstrapSwitch', function (event, state) {

            var state = state == false ? 0 : 1;
            if (state) {
                $("#permFormEdit input[name='ismenu']").val(state);
            } else {
                $("#permFormEdit input[name='ismenu']").val(state);
            }
        });

        // 状态开关组件初始化
        $("#perm_status").each(function() {

            $(this).bootstrapSwitch({
                onColor : "success",
                offColor : "warning",
                size:"small"
            })

            var status = $(this).val();
            if (status == 0) {
                $(this).bootstrapSwitch('state', false);
            } else {
                $(this).bootstrapSwitch('state', true);
            }

        });


        // 监听开关状态发生变化时，触发事件
        $("#perm_status").on('switchChange.bootstrapSwitch',function (event,state) {

            var state = state == false ? 0 : 1;
            if (state) {
                $("#permFormEdit input[name='status']").val(state);
            } else {
                $("#permFormEdit input[name='status']").val(state);
            }
        })


        $("#permModalEdit").modal("show");
    }







</script>

</body>
</html>