<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/head :: css_head"></head>
<body>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <small>系统管理 > 用户管理</small>
    </h1>

</section>


<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="nav-tabs-custom">
                <div class="tab-content">
        <div class="tab-pane active" id="tab-content-list">
    <div class="box">
        <!--<div class="box-header">-->
            <div id="box-header">
                <div id="btn-tools">
                    <div class="btn-group">
                    <input type="text" class="form-control" name="Name" id="search_name" placeholder="搜索..."/>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" id="search_btn"><i class="fa fa-search"></i>&nbsp;&nbsp;查询</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-success btn-sm" id="addUser" onclick="addUser()"><i class="fa fa-plus"></i> &nbsp;&nbsp;添加用户</button>
                    </div>
                    <div class="btn-group">
                        <a href="javascript:;" class="btn btn-primary btn-refresh btn-sm" title="刷新"><i class="fa fa-refresh"></i> </a>
                    </div>
                </div>

            </div>
        <!--</div>-->

        <!--表格数据-->
        <!-- /.box-header -->
        <div class="box-body">
            <table id="table_list" class="table table-bordered table-striped"></table>
        </div>
    </div>
        </div>
    </div>
        </div>
        </div>
    </div>
</section>

<!--新增模态框-->
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="updateModalLabel">
                        用户信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="userForm" role="form" class="form-horizontal">
                        <div class="form-group">
                            <label for="username" class="col-sm-3 control-label">用户名</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nickname" class="col-sm-3 control-label">昵称</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="nickname" name="nickname" placeholder="请输入昵称">
                            </div>
                        </div>
                        <div class="form-group" id="form-group-password">
                            <label for="password" class="col-sm-3 control-label">密码</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="password" name="password" placeholder="请输入密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">状态</label>
                            <div class="col-sm-9">
                               <label>
                                   <input id="user_status" type="checkbox" name='status' value="1"/>
                               </label>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="input" class="btn btn-primary" onclick="saveUser();">提交</button>
                    <span id="tip"></span>
                </div>
            </div>
        </div>
    </div>

<!--编辑模态框-->
<div class="modal fade" id="userModalEdit" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    用户信息
                </h4>
            </div>
            <div class="modal-body">
                <form id="userFormEdit" role="form" class="form-horizontal">

                    <input type="hidden" id="uid" name="id">
                    <div class="form-group">
                        <label for="username" class="col-sm-3 control-label">用户名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="username" placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nickname" class="col-sm-3 control-label">昵称</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="nickname" placeholder="请输入昵称">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="input" class="btn btn-primary" onclick="updateUser();">提交</button>

            </div>
        </div>
    </div>
</div>



<!-- 分配角色的模态框 -->
<div class="modal fade" id="userRoleModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="addModalLabel">
                    分配角色信息
                </h4>
            </div>
            <div class="modal-body">
                <form id="userRoleForm" role="form" class="form-horizontal">
                    <input type="hidden" id="user_id" name="userId">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">分配角色</label>
                        <div class="col-sm-9">
                            <select id="selectbox2" name="roleId"></select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="input" class="btn btn-primary" onclick="saveUserRole();">提交</button>
            </div>
        </div>
    </div>
</div>


<!-- jQuery 2.2.3 -->
<!--<script th:src="@{/adminlite/plugins/jQuery/jquery-2.2.3.min.js}"></script>-->
<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script th:src="@{/adminlite/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://cdn.bootcss.com/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>

<script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>

<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
<script type="text/javascript" th:inline="javascript">

    var $table = $('#table_list');
    var form = $("#userForm");

    $(document).ready(function(){

        $table.on("click",".btn-change",function(){

            var id = $(this).data("id");
            var dataId = $('.btn-change[data-id="' + id + '"]');
            var value = $(this).attr("data-params");

            if(value == 1) {
                dataId.find(".fa-toggle-on").removeClass("text-success");
                dataId.find(".fa-toggle-on").addClass('fa-flip-horizontal text-gray');
                // dataId.removeData('params');
                dataId.attr("data-params","0");
                var status = $(this).attr("data-params");
                console.log("vvvv: "+status);
                updateStatus(id, status);

                } else {
                dataId.find(".fa-toggle-on").addClass("text-success");
                dataId.find(".fa-toggle-on").removeClass('fa-flip-horizontal text-gray');
                // dataId.removeData('params');
                dataId.attr("data-params","1");
                var status = $(this).attr("data-params");
                console.log("vvvv: "+status);
                updateStatus(id, status);

            }
        });

        Validator();
        initTable();

        //刷新数据
        $(".btn-refresh").click(function(){
            $('#table_list').bootstrapTable('refresh', {url: "user_list"});
        })
        //查询按钮事件
        $('#search_btn').click(function() {
            $('#table_list').bootstrapTable('refresh', {url: "user_list"});
        })
        //设置表格内容的高度
        if($(".fixed-table-body table").height()<$(".fixed-table-container").height()){
            $(".fixed-table-container").css({"padding-bottom":"0px",height:$(".fixed-table-body table").height()+20});
            // 是当内容少时，使用搜索功能高度保持不变
            $('#table_list').bootstrapTable('resetView',{height:"auto"});
        }else{
            $(".fixed-table-container").css({height:$(window).height()-160});
        }

        $( '#table_list' ).bootstrapTable('resetView',{ height: 260 } );


    });

    //加载表格数据
    function initTable() {
        $table.bootstrapTable({
            height:$(window).height()-120,
            method: "GET",                      //请求后台的URL（*）
            contentType: "application/x-www-form-urlencoded",
            url: "user_list",                   //请求方式（*）
            dataType : "json",                  // 数据类型
            pagination : true,                  // 是否启用分页
            showPaginationSwitch : false,       // 是否显示 数据条数选择框
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            cache: false,                       //是否使用缓存，默认为true
            pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
            pageSize: 5,                        //每页的记录行数（*）
            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
            paginationPreText: '‹',             //指定分页条中上一页按钮的图标或文字,这里是<
            paginationNextText: '›',            //指定分页条中下一页按钮的图标或文字,这里是>
            queryParamsType:'',                 //默认值为limit
            showRefresh : false,
            //得到查询的参数
            queryParams: queryParams,           // 请求参数
            // 数据列
            columns: [{
                title: "ID",
                field: "id",
                sortable: true
            },{
                title: "用户名",
                field: "username"
            },{
                title: "昵称",
                field: "nickname"
            },{
                title: "状态",
                sortable: true,
                field: "status",
                formatter: function (value, row, index) {
                    var color = typeof this.color !== 'undefined' ? this.color : 'success';
                    var yes = typeof this.yes !== 'undefined' ? this.yes : 1;
                    var no = typeof this.no !== 'undefined' ? this.no : 0;
                    return "<a href='javascript:;' data-toggle='tooltip' class='btn-change' data-id='"
                        + row.id + "' data-params='" + (value == yes ? yes : no) + "'><i class='fa fa-toggle-on " + (value == yes ? 'text-' + color : 'fa-flip-horizontal text-gray') + " fa-2x'></i></a>";
                }
            }, {
                title: "创建时间",
                field: "reg_time",
                sortable: true
            },{
                title: "操作",
                field: "empty",
                formatter: function (value, row, index) {
                    var operateHtml = '<button class="btn btn-primary btn-xs" type="button" onclick="editUser(\''+row.id+'\',\''+row.username+'\',\''+row.nickname+'\')"><i class="fa fa-edit"></i>&nbsp;修改</button> &nbsp;';
                    operateHtml = operateHtml + '<button class="btn btn-danger btn-xs" type="button" onclick="deleteUser(\''+row.id+'\')"><i class="fa fa-remove"></i>&nbsp;删除</button> &nbsp;';
                    operateHtml = operateHtml + '<button class="btn btn-info btn-xs" type="button" onclick="addUserRole(\''+row.id+'\')"><i class="fa fa-arrows"></i>&nbsp;关联角色</button>';
                    return operateHtml;
                }
            }
            ],
            //加载成功时执行
            onLoadSuccess: function(data){
                console.log("加载成功");
            },
            //加载失败时执行
            onLoadError: function(status){
                console.log("加载数据失败"+status);
            },
        })
    }

    // 分页查询参数
    function queryParams (params) {
        var temp = {
            pageNumber: params.pageNumber, //页码
            pageSize: params.pageSize,  //页面大小
            q:$('#search_name').val(), //后台请求传的查询参数

        };
        return temp;
    };

    //验证数据
    function Validator() {
        form.bootstrapValidator({
            message: '输入值不合法',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                username: {
                    message: '用户名不合法',
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        stringLength: {
                            min: 2,
                            max: 30,
                            message: '请输入3到30个字符'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\. \u4e00-\u9fa5 ]+$/,
                            message: '用户名只能由字母、数字、点、下划线和汉字组成 '
                        }
                    }
                }
                , nickname: {
                    validators: {
                        notEmpty: {
                            message: '昵称不能为空'
                        }
                    }
                }, phone: {
                    validators: {
                        notEmpty: {
                            message: '手机号不能为空'
                        },
                        regexp: {
                            regexp: "^([0-9]{11})?$",
                            message: '手机号码格式错误'
                        }
                    }
                }, password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        }, stringLength: {
                            min: 3,
                            max: 20,
                            message: '请输入3到30个字符'
                        }
                    }
                }
            }
        });

    }

    //新增用户弹框
    function addUser(){
        // 用于开关组件初始化
        $("#user_status").each(function() {
            var status = $("#user_status").val;
            $(this).bootstrapSwitch({
                onColor : "success",
                offColor : "warning",
                size:"small"
            }).bootstrapSwitch('state', status);
        });


        // 监听开关状态发生变化时，触发事件
        $("#user_status").on('switchChange.bootstrapSwitch',function (event,state) {

            var state = state==false?0:1;
            if(state) {
                $("#user_status").val(state);
            } else {
                $("#user_status").val(state);
            }
            })

        reset();


        $("#userModal").modal("show");


    }

    //清空表单
    function reset() {
        $("#userForm input[name='username']").val("");
        $("#userForm input[name='nickname']").val("");
        $("#userForm input[name='password']").val("");
    }

    //编辑用户弹框
    function editUser(id,username,nickname) {
        $("#userFormEdit #uid").val(id);
        $("#userFormEdit input[name='username']").val(username);
        $("#userFormEdit input[name='nickname']").val(nickname);
        $("#userModalEdit").modal("show");
    }

    //新增用户--确认按钮
    function saveUser() {

        //进行表单验证
        var bv = form.data('bootstrapValidator');
        bv.validate();
        if (bv.isValid()) {

            var data = {
                username: $("#userForm #username").val(),
                nickname: $("#userForm #nickname").val(),
                password: $("#userForm #password").val(),
                status: $("#userForm #user_status").val()
            }
            console.log(data);

            $.ajax({
                cache: true,
                type: "POST",
                url:"add",
                data:data,
                async: false,
                success: function(data) {
                    if(data.code == 201){
                        layer.msg(data.msg);
                        $('#table_list').bootstrapTable("refresh");
                        $('#userModal').modal('hide');

                    } else if(data.code == 409){
                        layer.msg(data.msg);

                    }
                }
            });
        }
    }

    //提交编辑
    function updateUser() {
       var data = $("#userFormEdit").serialize();
       console.log(data);

        $.ajax({
            cache: true,
            type: "POST",
            url:"update",
            data:data,
            async: false,
            success: function(data) {
                if(data.code == 202){
                    console.log(data);
                    layer.msg(data.msg);
                    $('#table_list').bootstrapTable("refresh");
                    $("#userModalEdit").modal("hide");
                }
            }
        });
    }

    //分配角色弹窗
    function addUserRole(id) {
        $('#userRoleModal').modal('show');
        $('input[name="userId"]').val(id);
        console.log(id);

        findUserRoleByUserId(function(data){
            console.log(data);
            if(data.data == null) {
                console.log("data数据为空！");
                var json = data.data;
                getUserRole(json);
            } else {
                console.log("找到data数据！");
                var json = data.data;
                getUserRole(json);
            }
        });

    }

    //请求查询角色已经构建树形选择
    function getUserRole(json) {

        var str = "";
        $.ajax({
            type:"GET",
            url: "http://localhost:8080/sys/role/role_list",
            dataType: "json",
            success: function (data) {
                console.log(json);
                if(json == null) {
                    str+="<option value=''>无</option>";
                    $.each(data.data,function(i,item){
                        str += '<option value="'+item.id+'">'
                            + item.name
                            + '</option>';
                    })
                    $("#selectbox2").html(str);

                } else if(json!=null) {
                    console.log(json.id);
                    str+="<option value=''>无</option>";
                    $.each(data.data,function(i,item){
                        if(item.id == json.roleId) {
                            str += '<option value="'+item.id+'" selected>'
                                + item.name
                                + '</option>';
                        } else {
                            str += '<option value="'+item.id+'">'
                                + item.name
                                + '</option>';
                        }

                    })
                    $("#selectbox2").html(str);
                }

            }
        })
    }

    //请求查询用户角色--用户ID
    function findUserRoleByUserId(callBack) {
        var userId = $('input[name="userId"]').val();
        $.ajax({
            type:"GET",
            url: "http://localhost:8080/sys/user/findUserRoleByUserId",
            dataType: "json",
            data: {
                userId: userId
            },
            success: function (data) {
                if(data.code == 200) {
                    return callBack(data);
                }
            }
        })
    }

    //请求新增用户角色关联
    function saveUserRole() {
        //获取选中的项
        var options=$("#selectbox2 option:selected");
        var roleId = options.val();
        var userId = $('input[name="userId"]').val();
        console.log("---用户ID---"+userId);
        console.log("---角色ID---"+roleId);

        $.ajax({
            type:"POST",
            url: "saveUserRole",
            dataType: "json",
            data: {
                userId: userId,
                roleId: roleId
            },
            success: function (data) {
                console.log(data);
                if(data.code == 200) {
                    layer.msg(data.msg);
                    $('#table_list').bootstrapTable("refresh");
                    $("#userRoleModal").modal("hide");

                }
            }
        })
    }

    //提交修改用户状态
    function updateStatus(id, status) {
        $.ajax({
            url:"updateStatus",
            data:{
                id:id,
                status:status
            },
            async:false,
            dataType:"json",
            type:"POST",
            success:function(data){
                if(data.code==204){
                    console.log(data);
                    layer.msg(data.msg);
                }
            },
            error: function () {
                layer.msg("error");
            }
        });

    }

    //删除用户以及删除用户角色关联
    function deleteUser(userId) {
        layer.confirm('确定删除吗?', {icon: 3, title:'提示'}, function(index){
            $.ajax({
                type:"GET",
                url: "delete",
                dataType: "json",
                data: {
                    userId: userId
                },
                success: function (data) {
                    console.log(data);
                    if(data.code == 204) {
                        layer.msg(data.msg);
                        $('#table_list').bootstrapTable("refresh");
                    }
                }
            })
        })

    }


</script>
</body>
</html>