<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.UserMapper">

    <!--<resultMap id="userMap" type="com.demo.model.User">-->
        <!--<id property="id" column="id"/>-->
        <!--<result property="cnname" column="cnname"/>-->
        <!--<result property="username" column="username"/>-->
        <!--<result property="password" column="password"/>-->
        <!--<result property="salt" column="salt"/>-->
        <!--<result property="status" column="status"/>-->
        <!--<collection property="roles" ofType="com.demo.model.Role">-->
            <!--<result column="name" property="name"/>-->
        <!--</collection>-->
    <!--</resultMap>-->

    <resultMap id="userRoleMap" type="com.demo.model.UserRole">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
    </resultMap>


    <!--根据用户查询用户名-->
    <select id="findByUsername" resultType="User">
        SELECT
        id,
        username,
        password,
        salt,
        status
        FROM
        user
        WHERE
        username = #{username}
    </select>

    <!--查询所有用户-->
    <select id="findAll" resultType="User">
        SELECT
        id,
        username,
        password,
        salt,
        nickname,
        status,
        reg_time
        FROM
        user
    </select>

    <!--根据用户模糊查询用户名-->
    <select id="selectByUsername" parameterType="string" resultType="User">
        SELECT
        id,
        username,
        password,
        salt,
        nickname,
        status,
        reg_time
        FROM
        user
        <where>
            <if test="q != null and q !=''">
                AND username LIKE CONCAT(CONCAT('%', #{q}),'%')
                OR nickname LIKE CONCAT(CONCAT('%', #{q}), '%')
            </if>
        </where>

    </select>

    <!--新增用户-->
    <insert id="save" parameterType="User">
        INSERT INTO user(username, password, salt, nickname, status, reg_time)
        VALUES(
        #{username},
        #{password},
        #{salt},
        #{nickname},
        #{status},
        #{reg_time}
        )
    </insert>

    <!--更新用户-->
    <update id="update" parameterType="User">
        UPDATE
        user
        SET
        username = #{username},
        nickname = #{nickname}
        WHERE id = #{id}
    </update>

    <!--更改状态-->
    <update id="updateStatus" parameterType="User">
        UPDATE
        user
        SET
        status = #{status}
        WHERE id = #{id}
    </update>

    <!--删除用户-->
    <delete id="delete" parameterType="int">
        DELETE FROM user
        WHERE id = #{id}
    </delete>

    <!--新增角色权限关联-->
    <insert id="addUserRole" parameterType="UserRole">
        INSERT INTO
        user_role
        (
        user_id,
        role_id
        )
        VALUES(
        #{userId},
        #{roleId}
        )
    </insert>

    <!--根据用户角色查询用户ID-->
    <select id="findUserRoleByUserId" resultMap="userRoleMap">
        SELECT
        id,
        user_id,
        role_id
        FROM
        user_role
        WHERE
        user_id = #{userId}
    </select>

    <!--删除用户角色关联-->
    <delete id="deleteUserRole" parameterType="int">
        DELETE
        FROM
        user_role
        WHERE user_id = #{userId}
    </delete>





</mapper>

